body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 956px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/*HEADER*/
.eats {
  color: #57ad56;
  padding-left: 10px;
}
header {
  box-shadow: -7px 24px 33px -12px #d6d6d6; /* тень снизу*/
}
.logo {
  padding: 30px 0;
  display: flex;
  font-size: 12px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.buttom_inner {
  padding: 26.5px 0;
}
a.buttomEnter {
  font-size: 12px;
  color: #000; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #fff; /* фон кнопки */
  padding: 14px 20px; /* отступ от текста */
  border: 1px solid #e0e0e0; /* граница*/
  border-radius: 3px; /* скругление границы*/
}
a.buttomEnter:hover {
  background: #d6d6d6; /* при наведении курсора мышки */
}
.buttomBasket {
  display: flex;
}
.basket {
  padding-top: 25px;
  padding-left: 27px;
}

/* SEARCH */
.search {
  padding: 56px 0;
}
.search input {
  width: 100%;
  border: none;
  border-bottom: #e0e0e0 solid 1px;
  
}
.search input:focus {
  outline: none;
  border-bottom: #e0e0e0 solid 1px;
}

.restaurantsLogo{
  font-size:  22px;
}

/*restaurants*/
.dishes{
  font-size: 14px;
  color: #626262;;
}
.waitingTime{
  font-size: 13px;
}
.restaurants{
  display: flex;
  flex-wrap: wrap;
}
figcaption{
  padding: 20px 0;
}
.main__list{
  margin-right: 6px;
}
.main__list:hover{
  background: #FAFAFA;
}