body {
  font-size: 16px;
  color: #1d1d1d;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 956px;
  margin: 0 auto;
  padding: 0;
}

/*HEADER*/
.eats {
  color: #57ad56;
  padding-left: 10px;
}
header {
  height: 72px;
}

.logo {
  padding-top: 10px;
}
.header__inner {
  display: flex;
  justify-content: space-between;

  padding-top: 11px;
}
.buttom_inner {
  display: flex;
}
a.buttomEnter {
  font-size: 12px;
  color: #000; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #fff; /* фон кнопки */
  padding: 14px 20px; /* отступ от текста */
  border: 1px solid #e0e0e0; /* граница*/
  border-radius: 3px; /* скругление границы*/
}
a.buttomEnter:hover {
  background: #d6d6d6; /* при наведении курсора мышки */
}
.buttomBasket {
  display: flex;
}
.basket {
  display: flex;
  padding-left: 27px;
}

/*preview*/
.preview {
  padding: 80px 0;
  background-size: cover;
}
.preview__logo {
  background-color: #fff;
  padding-top: 38px;
  border-radius: 3px;
}
.preview__name {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-bottom: 50px;
}
.dishes {
  font-size: 14px;
  line-height: 16px;
  color: #626262;
}
.dishes-waitingTime {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.preview__waitingTime {
  background: #000;
  border-radius: 20px;
  padding: 8px 16px;
  color: #fff;
  width: 100px;
  font-size: 13px;
}
/*NAV*/
.nav {
  padding: 30px 0;
}

.nav__link {
  text-decoration: none !important;
  color: #626262;
  padding-right: 40px;
}
.nav__link:hover {
  color: #57ad56;
}
.nav__hr {
  background-color: #e3e3e3;
  margin: 0;
}

/*snacks*/
.main__list{
  margin-bottom: 50px;
  margin-right: 18px;
}
.main__list:hover {
  background-color: #fafafa;
}
.snacks {
  padding: 56px 0 80px 0;
}
.snacks__logo {
  font-size: 22px;
  padding-bottom: 32px;
}
figure {
  margin: 0;
  
  
}
figure img{
  text-align: right;
}

.row {
  display: flex;
  border: 1px solid #e3e3e3;
  
}

.column{
  padding: 16px 0 16px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction:column;
}
.ingredients {
  font-size: 13px;
  color: #626262;
  
}
.price {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  
}
.dishes{
  padding-top: 9px;
}
.padding{
  padding: 0 10px 10px 0;
}
